.cards-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {

}
